.lzd-pull-to-refresh {
    &-head {
        // position: relative;
        overflow: hidden;

        &-content {
            // position: absolute;
            width: 100%;
            color: #000;
        }
    }
}
