.header {
    display: flex;
    color: $theme-color;
    text-decoration: dashed;
    transform: translateX(50px);
}

.vite-logo {
    background-image: url("@assets/images/vite.svg");
    background-size: 100% 100%;
}
