.header {
    display: flex;
    color: $theme-color;
    text-decoration: dashed;
    transform: translateX(50px);
}

.logo {
    background-image: url("@assets/vite.svg");
    background-size: 100% 100%;
}
